<div class="grid grid-cols-3 gap-8 w-7xl p-6">
    <div *ngIf="isUserAdmin()" class="bg-[var(--color-card)] p-6 rounded-lg mt-4 col-span-2 row-1 ">
        <p class="text-center text-3xl font-bold text-[var(--color-green-secondary)] mb-6">Gérer la colocation</p>

        <div class="mb-4">
            <h3 class="text-2xl font-semibold text-[var(--color-green-secondary)] mb-2">Informations de la colocation</h3>
            <p class="text-xl text-[var(--color-green-secondary)]">Nom de la colocation : <span class="text-xl font-bold text-[var(--color-green-secondary)]">{{ colocation.name }}</span></p>
            <p class="text-xl text-[var(--color-green-secondary)] mt-2">Adresse : <span class="font-bold">{{ colocation.address.street }}, {{ colocation.address.postal_code }} {{ colocation.address.city }}, {{ colocation.address.country }}</span></p>
            <div class="flex justify-end">
                <button (click)="openDetailsColocModal()" class="btn flex items-center space-x-2 p-5 group">
                    <img src="icons/edit/edit-normal.png" class="h-8 w-8 group-hover:hidden">
                    <img src="icons/edit/edit-hover.png" class="h-8 w-8 hidden group-hover:block">
                    <span>Modifier</span>
                </button>
            </div>
        </div>

        <div class="mb-4">
            <h3 class="text-2xl font-semibold text-[var(--color-green-secondary)] mb-2">Membres de la colocation</h3>
            <ul class="text-xl list-disc pl-5 text-[var(--color-green-secondary)]">
                <li *ngFor="let member of colocation.members">
                    {{ member.user_id === user._id ? 'Moi' : member.username }} - <span class="italic">{{ member.role === 'admin' ? 'Administrateur' : 'Membre' }}</span>
                </li>
            </ul>
            <div class="flex justify-end">
                <button (click)="openMembersColocModal()" class="btn flex items-center space-x-2 p-5 group">
                    <img src="icons/edit/edit-normal.png" class="h-8 w-8 group-hover:hidden">
                    <img src="icons/edit/edit-hover.png" class="h-8 w-8 hidden group-hover:block">
                    <span>Modifier</span>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!isUserAdmin()" class="bg-[var(--color-card)] p-6 rounded-lg mt-4 col-span-2 row-1">
        <p class="text-center text-3xl font-bold text-[var(--color-green-secondary)] mb-6">Ma colocation</p>

        <div class="mb-4">
            <h3 class="text-2xl font-semibold text-[var(--color-green-secondary)] mb-2">Informations de la colocation</h3>
            <p class="text-xl text-[var(--color-green-secondary)]">Nom de la colocation : <span class="text-xl font-bold text-[var(--color-green-secondary)]">{{ colocation.name }}</span></p>
            <p class="text-xl text-[var(--color-green-secondary)] mt-2">Adresse : <span class="font-bold">{{ colocation.address.street }}, {{ colocation.address.postal_code }} {{ colocation.address.city }}, {{ colocation.address.country }}</span></p>
        </div>

        <div class="mb-4">
            <h3 class="text-2xl font-semibold text-[var(--color-green-secondary)] mb-2">Membres de la colocation</h3>
            <ul class="text-xl list-disc pl-5 text-[var(--color-green-secondary)]">
                <li *ngFor="let member of colocation.members">
                    {{ member.username }} - <span class="italic">{{ member.role === 'admin' ? 'Administrateur' : 'Membre' }}</span>
                </li>
            </ul>
        </div>
    </div>

    <app-modal
    [show]="isDetailsColocOpen"
    (onClose)="closeDetailsColocModal()"
    [title]="'Modifier les infos de la colocation'"
    >
        <form (ngSubmit)="saveColocationDetails()" class="grid grid-cols-2 gap-4">
            <div class="mb-4 col-span-2">
                <label class="block text-2xl font-bold text-[var(--color-green-secondary)] mb-2">Nom de la colocation</label>
                <input type="text" [(ngModel)]="tempColoc.name" name="colocationName" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none" required />
            </div>
            <div class="mb-4 col-span-2">
                <label class="block text-2xl font-bold text-[var(--color-green-secondary)] mb-2">Adresse</label>
                <input type="text" [(ngModel)]="tempColoc.address.street" name="street" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none" placeholder="Rue" required />
                <input type="text" [(ngModel)]="tempColoc.address.postal_code" name="postalCode" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none mt-2" placeholder="Code postal" required />
                <input type="text" [(ngModel)]="tempColoc.address.city" name="city" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none mt-2" placeholder="Ville" required />
                <input type="text" [(ngModel)]="tempColoc.address.country" name="country" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none mt-2" placeholder="Pays" required />
            </div>
            
            <button type="button" (click)="closeDetailsColocModal()" class="btn flex items-center space-x-2 p-5 group justify-center col-1">
                <img src="icons/cancel/cancel-normal.png" class="h-8 w-8 group-hover:hidden">
                <img src="icons/cancel/cancel-hover.png" class="h-8 w-8 hidden group-hover:block">
                <span>Annuler</span>
            </button>

            <button type="submit" class="btn flex items-center space-x-2 p-5 group justify-center col-2">
                <img src="icons/save/save-normal.png" class="h-8 w-8 group-hover:hidden">
                <img src="icons/save/save-hover.png" class="h-8 w-8 hidden group-hover:block">
                <span>Sauvegarder</span>
            </button>
        </form>
    </app-modal>

    <app-modal
    [show]="isMembersColocOpen"
    (onClose)="closeMembersColocModal()"
    [title]="'Modifier les membres de la colocation'"
    >
        <form (ngSubmit)="saveColocationDetails()" class="grid grid-cols-2 gap-4">
            <div class="col-span-2 space-y-4">
                <div *ngFor="let member of editedMembers" class="grid grid-cols-12 items-center gap-4 rounded-lg p-3">
                    <span class="col-span-4 text-xl text-[var(--color-green-secondary)] font-bold">{{ member.username }}</span>
                    <select [(ngModel)]="member.role" name="role_{{member.username}}" class="col-span-4 p-2 rounded border border-gray-300 disabled:bg-gray-300" [disabled]="member.user_id === user._id">
                        <option value="admin">Administrateur</option>
                        <option value="member">Membre</option>
                    </select>

                    <button 
                        type="button" 
                        class="btn col-span-4 font-bold w-fit px-4 py-3 flex items-center gap-2 group"
                        (click)="removeMember(member)"
                        [hidden]="member.user_id === user._id">
                        <div class="relative w-8 h-8">
                            <img src="icons/delete/delete-normal.png" class="absolute inset-0 w-8 h-8 group-hover:hidden" />
                            <img src="icons/delete/delete-hover.png" class="absolute inset-0 w-8 h-8 hidden group-hover:block" />
                        </div>
                        <span>Supprimer</span>
                    </button>
                </div>
            </div>
            <button type="button" (click)="closeMembersColocModal()" class="btn flex items-center space-x-2 p-5 group justify-center col-1">
                <img src="icons/cancel/cancel-normal.png" class="h-8 w-8 group-hover:hidden">
                <img src="icons/cancel/cancel-hover.png" class="h-8 w-8 hidden group-hover:block">
                <span>Annuler</span>
            </button>
            <button type="submit" class="btn flex items-center space-x-2 p-5 group justify-center col-2">
                <img src="icons/save/save-normal.png" class="h-8 w-8 group-hover:hidden">
                <img src="icons/save/save-hover.png" class="h-8 w-8 hidden group-hover:block">
                <span>Sauvegarder</span>
            </button>
        </form>
    </app-modal>

    <div class="col-span-1 col-3 row-1 bg-[var(--color-card)] p-6 rounded-lg mt-4">
        <p class="text-center text-3xl font-bold text-[var(--color-green-secondary)] mb-6">Mes paramètres</p>

        <div class="mb-4">
            <label class="block text-xl font-bold text-[var(--color-green-secondary)] mb-2">Thème</label>
            <select [(ngModel)]="settings.theme" name="theme" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none">
            <option value="light">Clair</option>
            <option value="dark">Sombre</option>
            </select>
        </div>

        <div class="mb-4 flex items-center">
            <label class="mr-4 text-xl font-bold text-[var(--color-green-secondary)]">Notifications</label>
            <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" [(ngModel)]="settings.notifications" class="sr-only peer" />
            <div class="relative w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-300 rounded-full peer peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[var(--color-green-secondary)]"></div>
            </label>
        </div>

        <div class="mb-4">
            <label class="block text-xl font-bold text-[var(--color-green-secondary)] mb-2">Langue</label>
            <select [(ngModel)]="settings.language" name="language" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none">
            <option value="fr">Français</option>
            <option value="en">Anglais</option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block text-xl font-bold text-[var(--color-green-secondary)] mb-2">Format de date</label>
            <select [(ngModel)]="settings.date_format" name="date_format" class="w-full p-2 rounded-xl border border-gray-300 focus:outline-none">
            <option value="DD/MM/YYYY">JJ/MM/AAAA</option>
            <option value="MM/DD/YYYY">MM/JJ/AAAA</option>
            </select>
        </div>

        <div class="flex justify-end">
            <button (click)="saveSettings()" class="btn flex justify-center items-center space-x-2 p-5 group">
                <img src="icons/save/save-normal.png" class="h-10 w-10 group-hover:hidden">
                <img src="icons/save/save-hover.png" class="h-10 w-10 hidden group-hover:block">
                <span>Sauvegarder</span>
            </button>
        </div>
    </div>

    <div class="grid grid-cols-3 col-span-3 bg-[var(--color-card)] p-6 rounded-lg mt-4 gap-4">
        <p class="text-center col-span-3 text-3xl font-bold text-[var(--color-green-secondary)] mb-6">Mes actions</p>
        <button (click)="sync()" class="btn col-1 flex justify-center items-center space-x-2 p-5 group">
            <img src="icons/restart/restart-normal.png" class="h-10 w-10 group-hover:hidden">
            <img src="icons/restart/restart-hover.png" class="h-10 w-10 hidden group-hover:block">
            <span>Synchroniser</span>
        </button>
        <button (click)="logout()" class="btn col-2 flex justify-center items-center space-x-2 p-5 group">
            <img src="icons/disconnect/disconnect-normal.png" class="h-10 w-10 group-hover:hidden">
            <img src="icons/disconnect/disconnect-hover.png" class="h-10 w-10 hidden group-hover:block">
            <span>Se déconnecter</span>
        </button>
        <button (click)="leftColoc()" class="btn col-3 flex justify-center items-center space-x-2 p-5 group">
            <img src="icons/leave/leave-normal.png" class="h-10 w-10 group-hover:hidden">
            <img src="icons/leave/leave-hover.png" class="h-10 w-10 hidden group-hover:block">
            <span>Quitter la colocation</span>
        </button>
    </div>
</div>