<div class="flex flex-col items-center justify-center h-full">
    <h2 class="text-3xl font-bold text-[var(--color-green-secondary)] mb-4 text-center">{{ title }}</h2>
    <div class="flex items-center h-full">
        <ng-container *ngIf="chartOptions.series.length > 0; else noData">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [dataLabels]="chartOptions.dataLabels"
                [legend]="chartOptions.legend">
            </apx-chart>
        </ng-container>
        <ng-template #noData>
            <p class="text-center text-xl text-[var(--color-green-secondary)]">
              Aucune donnée disponible pour le moment.<br><br>Enregistrez une dépense pour visualiser le graphique.
            </p>
        </ng-template>
    </div>
    <div class="mt-4 flex space-x-1">
        <label class="relative inline-flex items-center cursor-pointer">
            <input type="radio" name="chartOption" [(ngModel)]="selectedOption" value="option1" class="sr-only peer" (change)="onOptionChange()"/>
            <div class="w-5 h-5 rounded-full border-4 border-[var(--color-green-secondary)] peer-checked:bg-[var(--color-green-primary)] transition"></div>
        </label>
        <label class="relative inline-flex items-center cursor-pointer">
            <input type="radio" name="chartOption" [(ngModel)]="selectedOption" value="option2" class="sr-only peer" (change)="onOptionChange()"/>
            <div class="w-5 h-5 rounded-full border-4 border-[var(--color-green-secondary)] peer-checked:bg-[var(--color-green-primary)] transition"></div>
        </label>
        <label class="relative inline-flex items-center cursor-pointer">
            <input type="radio" name="chartOption" [(ngModel)]="selectedOption" value="option3" class="sr-only peer" (change)="onOptionChange()"/>
            <div class="w-5 h-5 rounded-full border-4 border-[var(--color-green-secondary)] peer-checked:bg-[var(--color-green-primary)] transition"></div>
        </label>
        <label class="relative inline-flex items-center cursor-pointer">
            <input type="radio" name="chartOption" [(ngModel)]="selectedOption" value="option4" class="sr-only peer" (change)="onOptionChange()"/>
            <div class="w-5 h-5 rounded-full border-4 border-[var(--color-green-secondary)] peer-checked:bg-[var(--color-green-primary)] transition"></div>
        </label>
    </div>
</div>