<div class="grid grid-cols-1 md:grid-cols-3 grid-rows-[auto_auto_auto_auto] gap-4 p-6 w-7xl items-start">
    <!-- Calendrier -->
    <div class="col-1 col-span-2 row-span-2">
        <div class="bg-[var(--color-card)] p-6 rounded-xl shadow-lg h-fit">
            <h2 class="text-3xl font-bold text-[var(--color-green-secondary)] mb-4 text-center">Calendrier</h2>
            <app-calendar-item></app-calendar-item>
        </div>
    </div>

    <!-- Mes tâches aujourd'hui -->
    <div class="col-3 row-1">
      <div class="bg-[var(--color-card)] p-6 rounded-xl shadow-lg flex flex-col gap-4 h-fit">
        <h2 class="text-3xl font-bold text-[var(--color-green-secondary)] text-center mb-4">Mes tâches du jour</h2>
        <ng-container *ngIf="myTasks.length > 0; else noTasks">
          <div class="grid grid-cols-1 gap-4 place-items-center overflow-y-auto max-h-[220px]">
            <ng-container *ngFor="let task of myTasks">
              <app-task-item [icon]="getIcon(task.category)" [label]="task.title"></app-task-item>
            </ng-container>
          </div>
        </ng-container>
        <ng-template #noTasks>
          <p class="text-center text-[var(--color-green-secondary)] font-bold text-xl mt-4">Aucune tâche pour aujourd’hui 🙌</p>
        </ng-template>
      </div>
    </div>

    <!-- Gérer tâches -->
    <div class="col-3 row-2">
        <div class="bg-[var(--color-card)] p-6 rounded-xl shadow-lg flex flex-col gap-4 h-fit">
            <h2 class="text-3xl font-bold text-[var(--color-green-secondary)] text-center mb-4">Gérer les événements</h2>
            <div class="grid grid-cols-1 gap-4 place-items-center">
                <button class="btn flex items-center justify-center space-x-2 p-8 group w-full row-1">
                    <img src="icons/add/add-normal.png" class="h-10 w-10 group-hover:hidden">
                    <img src="icons/add/add-hover.png" class="h-10 w-10 hidden group-hover:block">
                    <span>Ajouter</span>
                </button>
                <button class="btn flex items-center justify-center space-x-2 p-8 group w-full row-2">
                    <img src="icons/edit/edit-normal.png" class="h-10 w-10 group-hover:hidden">
                    <img src="icons/edit/edit-hover.png" class="h-10 w-10 hidden group-hover:block">
                    <span>Modifier</span>
                </button>
                <button class="btn flex items-center justify-center space-x-2 p-8 group w-full row-3">
                    <img src="icons/cancel/cancel-normal.png" class="h-10 w-10 group-hover:hidden">
                    <img src="icons/cancel/cancel-hover.png" class="h-10 w-10 hidden group-hover:block">
                    <span>Supprimer</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Liste des événements -->
    <div class="col-span-3 row-3">
        <div class="bg-[var(--color-card)] p-6 rounded-xl shadow-lg flex flex-col gap-4 h-fit">
        <h2 class="text-3xl font-bold text-[var(--color-green-secondary)] text-center mb-4">Liste des événements</h2>
            <div class="flex flex-wrap gap-4 mb-4 justify-end">
                <select [(ngModel)]="availableFilterPerson" class="p-2 rounded-xl border-3 border-[var(--color-green-secondary)] focus:border-none w-52">
                    <option value="">Toutes les personnes</option>
                    <option *ngFor="let availablePerson of uniqueAvaibleTasksAssignedByNames" [value]="availablePerson">{{ availablePerson }}</option>
                </select>
                <input type="date" class="p-2 rounded-xl border-3 border-[var(--color-green-secondary)] focus:border-none w-48" [(ngModel)]="availableFilterDate" />
                <input type="text" placeholder="Filtrer par titre" class="p-2 rounded-xl border-3 border-[var(--color-green-secondary)] focus:border-none w-48" [(ngModel)]="availableFilterTitle" />
            </div>
            <div class="overflow-x-auto max-h-[400px] overflow-y-auto">
                <table class="min-w-full text-left table-auto">
                    <thead class="sticky top-0 text-white bg-[var(--color-green-secondary)] z-10">
                        <tr>
                            <th class="p-2 font-bold border-r-2 border-[var(--color-card)]">Titre</th>
                            <th class="p-2 font-bold border-r-2 border-[var(--color-card)]">Description</th>
                            <th class="p-2 font-bold border-r-2">Assigné à</th>
                            <th class="p-2 font-bold border-r-2 border-[var(--color-card)]">Date</th>
                        </tr>
                    </thead>
                    <tbody class="font-bold text-[var(--color-green-secondary)]">
                        <ng-container *ngIf="availableTasks.length > 0; else noTasks">
                            <ng-container *ngFor="let task of availableTasks">
                                <tr class="border-b-2 border-[var(--color-green-secondary)] hover:bg-[var(--color-green-highlight)]">
                                    <td class="p-2">{{task.title}}</td>
                                    <td class="p-2">{{task.description}}</td>
                                    <td class="p-2">{{task.assigned_to.username}}</td>
                                    <td class="p-2">{{task.due_date | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <ng-template #noTasks>
                            <td colspan="4" class="text-center p-4">Aucune dépense enregistrée</td>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Historique -->
    <div class="col-span-3 row-4">
        <div class="bg-[var(--color-card)] p-6 rounded-xl shadow-lg flex flex-col gap-4 h-fit">
            <h2 class="text-3xl font-bold text-[var(--color-green-secondary)] text-center mb-4">Historique des événements</h2>
            <div class="flex flex-wrap gap-4 mb-4 justify-end">
                <select [(ngModel)]="overdueFilterPerson" class="p-2 rounded-xl border-3 border-[var(--color-green-secondary)] focus:border-none w-52">
                    <option value="">Toutes les personnes</option>
                    <option *ngFor="let OverduePerson of uniqueOverdueTasksAssignedByNames" [value]="OverduePerson">{{ OverduePerson }}</option>
                </select>
                <input type="date" class="p-2 rounded-xl border-3 border-[var(--color-green-secondary)] focus:border-none w-48" [(ngModel)]="overdueFilterDate" />
                <input type="text" placeholder="Filtrer par titre" class="p-2 rounded-xl border-3 border-[var(--color-green-secondary)] focus:border-none w-48" [(ngModel)]="overdueFilterTitle" />
            </div>
            <div class="overflow-x-auto max-h-[400px] overflow-y-auto">
                <table class="min-w-full text-left table-auto">
                    <thead class="sticky top-0 text-white bg-[var(--color-green-secondary)] z-10">
                        <tr>
                            <th class="p-2 font-bold border-r-2 border-[var(--color-card)]">Titre</th>
                            <th class="p-2 font-bold border-r-2 border-[var(--color-card)]">Description</th>
                            <th class="p-2 font-bold border-r-2">Assigné à</th>
                            <th class="p-2 font-bold border-r-2 border-[var(--color-card)]">Date</th>
                        </tr>
                    </thead>
                    <tbody class="font-bold text-[var(--color-green-secondary)]">
                        <ng-container *ngIf="overdueTasks.length > 0; else noTasks">
                            <ng-container *ngFor="let task of overdueTasks">
                                <tr class="border-b-2 border-[var(--color-green-secondary)] hover:bg-[var(--color-green-highlight)]">
                                    <td class="p-2">{{task.title}}</td>
                                    <td class="p-2">{{task.description}}</td>
                                    <td class="p-2">{{task.assigned_to.username}}</td>
                                    <td class="p-2">{{task.due_date | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <ng-template #noTasks>
                            <td colspan="4" class="text-center p-4">Aucune dépense enregistrée</td>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
